.box{
   width: 300px; 
   height: 80px;
   padding: 10px;
   color: blue;
   font-weight: bold;
text-align: center;
margin: 10px;
} 

.static{
position: static;
background-color: yellow;
}

.relative{
  position: relative;  
  top: 20px;
  left: 20px;
  background-color: green;
}

.absolute{
  position: absolute;
  background-color: gold;
} 

.f